.uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0 auto;
}

.fieldSet {
    padding: 0;
    border: none;
}

.legend {
    font-size: 20px;
    text-align: center;
}

.chooseFileBtn {
    width: 180px;
    background-color: black;
    cursor: pointer;
}

.inputWrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.chooseFileBtn::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(69,73,109);
    z-index: 2;
    color: white;
    font-weight: bold;  
}

.chooseFileText {
    display: flex;
    padding: 20px;
    align-items: center;
    position: absolute;
    z-index: 10;
    color: white;
    z-index: 10;
    pointer-events: none;
    font-weight: bold;
    font-family: Tahoma, sans-serif;
}

.downloadIcon {
    margin-right: 10px;
}

.chooseFileBtn::before {
    content: "";
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0,171,213);
    background: linear-gradient(90deg, rgba(0,171,213,1) 24%, rgba(0,212,255,1) 82%);
    z-index: 4;
    color: white;
    font-weight: bold;
    transform: translateY(110%);
    transition: transform 0.3s ease-in-out;
}

.chooseFileBtn:hover::before {
    transform: translateY(0%);
}  